body{
	font-size:12px;
	font-family: tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
	padding:0;
	margin:0;
	background: #f1f1f1;
	color:#fff;
	
}
.big-box{
	width:1190px;
	margin: 0 auto;
}
ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
li{
	display:inline-block;
	padding: 0;
	margin: 0;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
}
a{
	color:#666;
	text-decoration:none;
}
p{
	padding: 0;
	margin: 0;
}